<div class="footer">
  <ul class="copyright">
    <li><a href="#start">@Copyright</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact Us</a></li>
  </ul>
  <ul class="additionalLinks">
    <li>
      <a href="index"> <img src="./../../assets/images/fb.png" alt="fb"/></a>
    </li>
    <li>
      <a href="index">
        <img src="./../../assets/images/ln.png" alt="linkedin"
      /></a>
    </li>
  </ul>
</div>
