<div class="headerContainer">
    <div class="logoContainer">
      <a href="index.ejs"> <img src="logo.png" alt="logo"/></a>
    </div>
    <% include navbars/navbar1.ejs%>
  </div>

  <% include navbars/navbar2.ejs%>