<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
  
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag, user:user}) %>
      <div class="main">
          <h1>About US</h1>
        <p>
          We are Event management Website for healthcare related events.
          <br />here you can do a lot of things for setting up camps/events for
          doctors and patients and a lot of other stuff.. <br />
          Check out the Connection page for more details here.
        </p>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
