<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="headerContainer">
        <div class="logoContainer">
          <a href="index.html"> <img src="logo.png" alt="logo"/></a>
        </div>
        <div class="Navbar">
          <ul>
            <li><a href="#start">Start a new Connection</a></li>
            <li><a href="savedConnection.html">Login</a></li>
            <li><a href="savedConnection.html">Sign Up</a></li>
          </ul>
        </div>
      </div>
      <div class="Navbar2">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="connections.html">Connection</a></li>
          <li><a href="#start" class="loginName">Hi, Amal</a></li>
        </ul>
      </div>
      <div class="main connectMain">
        <h2>HealthCare</h2>
        <ol>
            <li><a href="connection.html">Set up Blood Donation Camp</a></li>
            <li><a href="connection.html">Set up Regular Checkup</a></li>
            <li><a href="connection.html">Set up Vaccine</a></li>
        </ol>
        <h2>Fitness</h2>
        <ol>
            <li><a href="connection.html">Nutrients and diet Awareness Conference</a></li>
            <li><a href="connection.html">Excercises and More</a></li>
            <li><a href="connection.html">TBD</a></li>
        </ol>
      </div>
      <div class="footer">
        <ul class="copyright">
          <li><a href="#start">@Copyright</a></li>
          <li><a href="#start">About</a></li>
          <li><a href="#start">Plz don't Contact Us</a></li>
        </ul>
        <ul class="additionalLinks">
          <li><a href="index.html"> <img src="fb.png" alt="fb"/></a></li>
          <li><a href="index.html"> <img src="ln.png" alt="linkedin"/></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
