<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./../assets/stylesheet/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <% include partials/header.ejs%>
      <div class="main connectMain">
        <h2>Healthcare</h2>
          <ol class="connList">
            <% connectionObj.forEach(function(item){ %>
              <%if (item.topic == 'Healthcare'){ %>
                <li><%= item.ConnName%></li>                            
            <%}}); %>
          </ol>
        <h2>Fitness</h2> 
           <ol class="connList">
            <% connectionObj.forEach(function(item){ %>
              <%if (item.topic == 'Fitness'){ %>
                <li><%= item.ConnName%></li>                            
            <%}}); %>
          </ol>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
