<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <% include partials/header.ejs%>
      <div class="main connectMain">
        <h2>HealthCare</h2>
        <ol>
          <li><a href="connection.ejs">Set up Blood Donation Camp</a></li>
          <li><a href="connection.ejs">Set up Regular Checkup</a></li>
          <li><a href="connection.ejs">Set up Vaccine</a></li>
        </ol>
        <h2>Fitness</h2>
        <ol>
          <li>
            <a href="connection.ejs"
              >Nutrients and diet Awareness Conference</a
            >
          </li>
          <li><a href="connection.ejs">Excercises and More</a></li>
          <li><a href="connection.ejs">TBD</a></li>
        </ol>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
