<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./../assets/stylesheet/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <% include partials/header.ejs%>
      <h4>
        <%= connectionObj.details%>
      </h4>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
