<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag}) %>
      <div class="main connectMain">
        <% unique_topic.forEach(function(topic){ %>
        <h2><%= topic %></h2>
        <ol>
          <% connectionObj.forEach(function(item){ %> <% if(item.topic ==
          topic){ %>
          <li>
            <a class="topicList" href="connection?connectionID=<%=item.uid%>">
              <%= item.ConnName %>
            </a>
          </li>
          <% }}); %>
        </ol>
        <br />
        <% }); %>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
