<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag}) %>
      <div class="main">
        <h1>
          Contact Us <br />
          Email : avaishna@uncc.edu <br />
          Phone : +1-8888888888
        </h1>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
