<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">      
      <% include partials/nav.ejs%>
      <div class="main">
        <p>
          Contact Us
          Email : avaishna@uncc.edu
          Phone : +1-8888888888
        </p>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
