<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">

      <%- include('partials/header.ejs', {loginFlag: loginFlag}) %>
      <div class="main">
        <p>
          Welcome to my Event Website. <br />here you can do a lot of things for
          setting up camps/events for doctors and patients. <br />
          Check out the Connection page for more details here.
        </p>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
