<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag, user:user}) %>
      <div class="main mainConnection">
        <h2>Create New Connection</h2>
        <form id="connectionForm" method="POST" action="/newConnectionForm">
          <label for="topic">Topic </label>

          <input id="topic" type="text" name="topic" placeholder="topic" />
          <br />
          <label for="ConnName">Name </label>
          <input
            id="ConnName"
            type="text"
            name="ConnName"
            placeholder="Name"
          /><br />
          <label for="details">Details </label>
          <textarea
            rows="4"
            cols="30"
            id="details"
            name="details"
            form="connectionForm"
          >
description</textarea
          ><br />
          <label for="location">Location </label>
          <input
            id="location"
            type="text"
            name="location"
            placeholder="location"
          /><br />
          <label for="date">Date </label>
          <input id="date" type="date" name="date" /><br />
          <label for="time">Time </label>
          <input id="time" type="time" name="time" /> (00:00 to 23:59)<br />
          <input class="butSubmit" type="submit" value="Create Connection" />
        </form>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
