<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <% include partials/nav.ejs%>
      <div class="main">
        <h2>All Connections</h2>
        <table>
          <tr>
            <th>Connection</th>
            <th>Category</th>
            <th>Going?</th>
            <th>Events</th>
          </tr>
          <tr>
            <td>Blood Donation Camp</td>
            <td>health</td>
            <td>yes</td>
            <td>
              <form action="connections.html">
                <input class="btn btn2" type="submit" value="Update" />
              </form>
              <form action="savedConnection.html">
                <input class="btn btn2" type="submit" value="Delete" />
              </form>
            </td>
          </tr>
        </table>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
