<div class="Navbar2">
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="connections">Connections</a></li>
    <%if ( loginFlag===true ) { %>
      <li>
          <a href="#start" class="loginName">Hi, <%=user%>. You are logged in.</a>
      </li>
    <% } %>


    
  </ul>
</div>
