<div class="Navbar">
    <ul>
      <li><a href="#start">Start a new Connection</a></li>
      <li><a href="savedConnection.ejs">Login</a></li>
      <li><a href="savedConnection.ejs">Sign Up</a></li>
    </ul>
  </div>