<div class="Navbar">
    <ul>
      <li><a href="newConnection">Start a new Connection</a></li>
      <li><a href="savedConnection">Login</a></li>
      <li><a href="savedConnection">Sign Up</a></li>
    </ul>
  </div>