<div class="Navbar">
  <ul>
    
    
    <%if ( loginFlag===true ) { %>
      <li><a href="newConnection">Start a new Connection</a></li>
      <li><a href="myConnections?action=BlankLoginNoParams">My connections</a></li>
      <li><a href="logout">Logout</a></li>
    <%}else{%>
      <li><a href="myConnections?action=BlankLoginNoParams">Start a new Connection</a></li>
      <li><a href="myConnections?action=BlankLoginNoParams">My connections</a></li>
      <li><a href="myConnections?action=BlankLoginNoParams">Login</a></li>
    <%}%>  
  </ul>
</div>
