<div class="Navbar">
  <ul>
    

    <%if ( loginFlag===true ) { %>
      <li><a href="newConnection">Start a new Connection</a></li>
      <li><a href="myConnections?action=BlankLoginNoParams">My connections</a></li>
      <li><a href="logout">Logout</a></li>
    <%}else{%>
      <li><a href="login">Start a new Connection</a></li>
      <li><a href="login">My connections</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="signup">Sign Up</a></li>
    <%}%>  
  </ul>
</div>
